body {
    background-color: #333333;
}
.branding
{
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    font-size: 150px;
    z-index: -1;
}
.branding h1
{
    vertical-align: middle;
}
nav
{
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #222222;
    border-top: 5px solid #000000;
    margin: 0;
}
nav li
{
    list-style: none;
    float:left;
    margin-right: 30px;
}
nav img
{
    vertical-align: middle;
    width: 75px;
    cursor: pointer;
}

.window
{
    display: inline-block;
    border: 2px solid black;
    position: fixed;
    left: 50px;
    top: 50px;
    background-color: #fff;
    padding-right: 2px;
    padding-bottom: 2px;
}

.window header
{
    height: 25px;
    background-color: #227ebb;
    color: white;
    text-align: left;
    padding-left: 10px;
    cursor: move;
    margin-right: -2px;
}

.window>section
{
    background-color: white;
}

.msgBoard
{
    width: 500px;
    
    margin: 10px;
    background-color: white;
}
html, body, main
{
    height: 100%;
    margin: 0
}
main
{
    width: 100%;
    text-align: center;
    overflow: none;
}

input[submit]
{
    color: black;
}
.msgBoxHeader
{
    display: none;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: grey;
    border-bottom: 5px solid black;
}
.msgBox
{
    height: 400px;
    overflow-y: auto;
}
.msgBox img
{
    vertical-align: top;
    float: right;
    width: 25px;
    cursor: pointer;
}
.msgBox footer
{
    text-align: right;
    vertical-align: bottom;
}
.msgContent
{
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}
.msgItem:nth-child(2n)
{
    background-color: #f0f5ff;
}
.inputBox
{
    vertical-align: top;
}
.inputBox textarea
{
    display: block;
    width: 400px;
    height: 50px;
    margin: 0;
    resize: none;
    float: left;
}
.inputBox input
{
    width: 90px;
    height: 50px;
    display: block;
    margin: 0;
}
.msgCounter
{
    float: right;
}

.memoryContainer
{

    display: inline-block;
    background-color: grey;
    z-index: 2;
}

.gameBoard
{

    background-color: white;
    width: 275px;
    height: 200px;
}

.gameBoard table
{
    width: 100%;
    height: 100%;
}

.resultsBoard
{
    background-color: white;
    width: 100%;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Window */
.window header img
{
    z-index: 100;
    float: right;
}









/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - ImageViewer */
.ImageViewerList
{
    width: 350px;
    list-style: none;
    padding: 0;
    height: 300px;
    overflow-y:scroll;
}

.ImageViewerList li
{
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #ddd;
    border-radius: 10px;
}
