.memoryContainer
{
    width: 275px;
    display: inline-block;
    background-color: white;
    z-index: 2;
}

.gameBoard
{

    background-color: white;
    width: 275px;
    height: 200px;
}

.gameBoard table
{
    width: 100%;
    height: 100%;
}

.resultsBoard
{
    width: 275px;
    background-color: white;
    word-wrap: break-word;
}
.highscoreResults
{
    width: 150px;
    margin-top: 19px;
    float: right;
    text-align: right;
    font-weight: 700;
}
.highscoreResults p
{
    font-weight: 400;
    width: 150px;
    margin: 0;
}
.highscoreResults:after
{
    content: "";
    clear: both;
}
