.MessageBoard
{
    height: inherit;
    width: inherit;
}
.msgBoard
{
    height: 100%;
    margin: 10px;
    background-color: white;
}
input[submit]
{
    color: black;
}
.inputBox textarea
{
    display: block;
    width: 100%;
    height: 50px;
    margin: 0;
    resize: none;
}
.inputBox input
{
    width: 100%;
    height: 50px;
    display: block;
    margin: 0;
}
.msgCounter
{
    float: right;
}
.msgBoxHeader
{
    display: none;
}
.msgBox
{
    height: calc(100% - 110px);
    overflow-y: auto;
}
.msgItem:nth-child(2n)
{
    background-color: #f0f5ff;
}
.msgItem
{
    text-align: left;
}
.msgAuthor
{
    float: left;
}
.msgTime
{
    float: right;
}
.msgText
{
    clear: both;
}
/*
.msgBoxHeader
{
    display: none;
    font-size: 24px;
    text-align: center;
    padding: 10px;
    color: white;
    background-color: grey;
    border-bottom: 5px solid black;
}

.msgBox img
{
    vertical-align: top;
    float: right;
    width: 25px;
    cursor: pointer;
}
.msgBox footer
{
    text-align: right;
    vertical-align: bottom;
}
.msgContent
{
    padding: 10px;
    text-align: left;
    word-wrap: break-word;
}
.inputBox
{
    vertical-align: top;
}
*/