.Notepad
{
    width: 100%;
    height: calc(100% - 75px);
}

.Notepad form
{
    height: 100%;
}

.textPad {
    width: 100%;
    height: 100%;
    resize: none;
    padding: 0;
    margin: 0;
    border: 0;
    color: black;
}