.window
{
    display: block;
    border: 2px solid black;
    position: fixed;
    background-color: #fff;
}

.windowIcon
{
    float: left;
}

.windowClose, .windowMaximize, .windowMinimize
{
    float: right;
}


.window h1
{
    font-size: 16px;
    margin-top: 0;
    margin-left: 10px;
    display: inline;
}

.window header
{
    height: 25px;
    background-color: #227ebb;
    color: white;
    text-align: left;
    padding-left: 10px;
    cursor: move;
}

.window>section
{
    background-color: white;
}
.statusBar
{
    clear: both;
    height: 25px;
    background-color: #ddd;
}

.statusBar img
{
    float: left;
    padding-left: 5px;
}

.statusBar .windowResizer
{
    float: right;
    cursor: se-resize;
}

.statusBar p
{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
}
.minimized
{
    display: none;
}
.shadow
{
    display: block;
    opacity: 0.5;
    z-index: 1000;
}
/*----TOOLBAR--------------------------------------------------*/
.toolBar>ul
{
    background-color: #ddd;
    text-align: left;
    height: 20px;
    padding: 5px;
    padding-bottom: 0;
    vertical-align: bottom;
}
.toolBar ul
{
    list-style-type: none;
    margin: 0;
}
.toolBar li
{
    cursor: pointer;
    margin: 0;
}
.toolBar>ul>li
{
    margin-right: 10px;
    float: left;
}
.toolBar ul li ul
{
    display: none;
}
.toolBar ul li:hover ul
{
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
}
.toolBar ul li ul li
{
    background-color: #ddd;
    padding: 5px;
    z-index: 5;
    border: 1px solid black;
    border-top: none;
}


//
//.toolBar>ul>li
//{
//    display: inline-block;
//    padding: 0 10px 0 10px;
//}
//
//.toolBar li
//{
//    cursor: pointer;
//}
//
//.toolBar ul
//{
//    list-style: none;
//    padding: 5px;
//    margin: 0;
//}
//
//
//.toolBar ul li ul
//{
//    background-color: #ddd;
//    display: none;
//    position: relative;
//    padding: 0 10px 0 10px
//}
//.show
//{
//    display: block !important;
//}
//.hide
//{
//    left: 9999px;
//}